[user]
	name = somnambWl
	email = somnambWl@gmail.com
[push]
	default = matching
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[core]
	autocrlf = input
	editor = vim
	excludesFile = *.swp

[url "https://bitbucket.org/"]
	insteadOf = bb:

[url "https://github.com/"]
	insteadOf = gh:

[url "https://gist.github.com/"]
	insteadOf = gist:
[commit]
	template = ~/.git-templates/commit-message.txt
[init]
	templatedir = ~/.git-templates
